<footer class="footer text-center bg-light p-1">
  <span class="text-muted">This application is part of the <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/" target="_blank">The Complete Ruby on Rails Developer Course</a> which I highly recommend! </span>
</footer>
